body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }


  /* Estilos para o cabeçalho */
  header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
  }

  header h1{
    color: rgb(190, 190, 190);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(190, 190, 190);
  }
  
  /* Estilos para a seção principal */
  main {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .image-slider {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .imgcentral{   
    display: flex;
    justify-content: center;
  }
  .imgcentral img{
    width: 100%;
  }
  
  .image-slider img {
    max-width: 300px;
    margin: 10px;
  }
  
  .centralizartexto{
    text-align: center;
  }

  /* Estilos para o rodapé */
  footer {
    background-color: #000000;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
  }

  footer p{
    color: rgb(190, 190, 190);
  }

  .maincontato{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h3{
    font-weight: bold;
    text-align: center;
  }


  .contato{
    text-align: center;
  }
  .contatogeral{
    display: flex;
    flex-direction: row;
  }

  h5{
    margin-left: 200px;
    margin-right: 200px;
  }